
body { background: #dcdcdc;
}

.av { margin: 10px;
  padding: inherit;
   border-style: solid;
  border-radius: 10px;
  text-align: center;
  background:#00913f;
  color: white;
}
.lista{ list-style-type: none;

}
